// styles.scss

.listStyle {
    display: flex;
    flex-direction: row;
    // Your list styles here
  }
  
  .textStyle {
    margin: 0 10px; // Adjust spacing as needed
    // Your text styles here
  }
  